extends templates/main-template

block variables
  -
    pageTitle = 'Главная';

block main
  div.todo
    div.todo__container
      div.todo__title-container
        h1.todo__title TODO
      ul.todo__items
      div.todo__input-container
        input#text.todo__input-text(type='text' placeholder='Введите заметку')
        label.visually-hidden(for='text')
        button.todo__btn-add(type='submit') добавить
